body{
    Background-image:Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    Linear-gradient(127deg, black, black 70.71%),
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.nav_style{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-items{

    font-size: 25px;
    text-transform: uppercase;

}
.nav-items a {
text-decoration: none;
color: #ffffff;
padding: 0 25px ;
}
.iframe_style{
 text-align: center;
}
.title-block-courses{
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    padding-bottom:  20px;
    text-transform: uppercase;
}


.intro-courses{
    background: url(../res/bg-courses.jpg);
    height: 250px;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 4px 3px 26px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 26px 7px rgba(0,0,0,0.75);
    box-shadow: 4px 3px 26px 7px rgba(0,0,0,0.75)
}



h1.style-title-courses{
    font-size: 35px;
    color: #ffffff;
    margin: 0 auto;
    text-transform: uppercase;
}


.block-comment{
    text-align: center;
}
.btn-style-courses{
    background: #bf243f;
    height: 40px;
    margin: 20px 0;
    color: #ffffff;
    box-shadow: none;
    border: none;
    width: 80px;
    border-radius:5px ;
}
label{
    text-align: center;
    color: #ffffff;
    display: block;
    font-size: 20px;
    text-transform: capitalize;
}
.formulaire_contact{
    text-align: center;
}
input  {
    min-width: 288px;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.select-form{ 
    min-width: 314px;
    height: 47px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
ul.menu-header {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.items-cours {
    background: url(../res/cours1.png);
    margin: 15px;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
}
.items-cours:hover {
    background-color: black;
    opacity: 0.5;
}
.items-cours:hover .link-cours{
    display: block;

}
button.link-cours {
    margin: 0 auto;
    display: none;
}
.coures_block {
    display: flex;
    justify-content: center;
}
.block-coures-page-home {
    display: flex;
    justify-content: center;
}
.block-menu{
    width: 80%;
}
a.link-cours {
    display: block;
}
a.link-cours:hover {
    filter: blur(3px);
}
.bg-home{
    width: 100%;
    text-align: center;
}
.bg-home img {
    width: 100%;
}
.intro{
    font-weight: bold;
}
#comment{
    swidth: 500px;
}